.subscribe_section {
    max-width: 1360px;
    width: 100%;
    height: 401px;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgb(0 0 0 / 70%), rgb(0 0 0 / 40%)), url(/src/assets/images/Subscribe_img.jpg);
}

.subscribe_section h1::after {
    position: absolute;
    content: '';
    height: 3px;
    bottom: -4px;
    left: 0;
    right: 0;
    max-width: 520px;
    background: #ffffff;
}
 